@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.cdnfonts.com/css/helveticaneue-condensed');
/*Eric Meyer CSS reset begins */ 
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*Eric Meyer CSS reset Ends */ 

.letter-page{
    width:612px;
    height:792px;
    background:whitesmoke;
}
.grid-container-images{
display: grid;
grid-template-columns: auto auto auto;
padding: 5px;
grid-gap:1.5px;
}
.grid-container-product{
display: grid;
grid-template-columns: auto auto;
padding: 5px;
grid-gap:100px;
}
.grid-image{
  width:100%;
}
.image-right{
float:right;
  width:30%;
  margin-top: 5px;
  margin-right:10px;
}
.product-info{
  background: black;
  min-height: 200px;
  margin-top: -5px;

}
.product-title{
width: 400px;
    word-wrap: wrap;
}
.features-info{
    background: whitesmoke;
    min-height: 185px;
    
}
.dims-info{
    background-image: linear-gradient(red, rgb(126, 4, 4));
    min-height:200px;
   
}

/*t Text Style */
body{
    font-family: 'HelveticaNeue Condensed', sans-serif;
}

h1{
    font-size: px;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-weight: 900;
   
 
}
h2{
    font-size: 16px;
    font-family: 'Helvetica 55 Roman', sans-serif;
  font-weight:700;
}
h3{
    font-size: 12px;
    font-family: 'HelveticaNeue Condensed', sans-serif;  
}
p{
    font-size: 12px;
    
}

h1,
h2,
h3,
p{
    padding:5px;
    margin-left: 5px;
    color: white;
}
.features-info h1,
.features-info h2,
.features-info p{
    padding:5px;
    margin-left: 5px;
    color: black;
}
.features-info h2{
    color:red;
}
strong{
    font-weight: 700;
}


/*columns styling */
.row{
    box-sizing: border-box;
}
/* Set additional styling options for the columns*/
.column {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}
ul{
    margin-left:1rem;
}
li{
    font-size:14px;
    list-style-type: circle;
}
.dims li{
    font-size:14px;
    list-style-type: none;
    line-height: normal;
    color:white;
}
.product-info li{
    font-size:14px;
    list-style-type: none;
    color:white;
    display:inline-block;
}

  
  .icon{
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;
        margin-left: 5px;

       
      }
      .icon-align div{
          display: inline-block;
      }
  
